
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
html {
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}

/* for SP and Tablet*/


@media screen and (max-width:767px) {


  /* sns_introduction */


  #sns_introduction {
    position: fixed;
    bottom: 20px;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);

  }

  #sns_introduction img {
    width: 10px;
  }

  .accordion-menu {
  width: 100%;
  max-width: 350px;
  margin: 60px auto 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  }

  .accordion-menu, .accordion-menu ul{
    list-style-type: none;
    padding-left: 0;
  }

  .accordion-menu li.open .dropdownlink {
  color: #373C38;
  opacity: 50%;
  }

  .fa-chevron-down {
    transform: rotate(180deg);
  }

  .accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
  }
  .dropdownlink {
  cursor: pointer;
  display: block;
  padding: 5px 13px;
  font-size: 18px;
  color: #212121;
  position: relative;
  transition: all 1.0s ease-out;

  i {
    position: absolute;
    top: 17px;
    left: 16px;
  }
  .fa-chevron-down {
    right: 12px;
    left: auto;
  }
  }

  .submenuItems {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  opacity: 60%;
  }


  .submenuItems a {
    display: block;
    color: #727272;
    padding: 12px 12px 12px 20px;
    transition: all 0.4s ease-out;
    color: #373C38;
    text-decoration: none;
    font-family: serif;
  }

  .submenuItems a:hover {
    background-color: #373C38;
    opacity: 60%;
    color: #FFFFFB;
  }

/* end of sns_introduction */

    #main {
    position: relative;
    width: 100%;
    height: auto !important;
    min-height: 100vh;
    background-color: #fcfaf2;
    background: #fcfaf2;
    overflow: hidden;
  }

  #PC_header {
    display: none;
  }

  #drawer-navigation{
  	display:none;
  }

  /*ヘッダーまわりはご自由に*/
  #SP_header {
    padding:10px;
    background-color: #373C38;
    height: 50px;
    vertical-align: middle;
    position: fixed;
    z-index: 400;
    width: 100%;
  }

  .logo {
    position: relative;
    top: -5px;
  }

  #nav-drawer {
    position: relative;
    float: right;
    margin: 0;
    padding: 5px 0 0 0;
    }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }

  /*アイコンのスペース*/
  #nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
      margin: auto;
      text-align: center;
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
      position: absolute;
      height: 1px;/*線の太さ*/
      width: 25px;/*長さ*/
      border-radius: 3px;
      background: #fcfaf2;
      display: block;
      content: '';
      cursor: pointer;
  }
  #nav-open span:before {
      bottom: -8px;
  }
  #nav-open span:after {
      bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
      display: none;/*はじめは隠しておく*/
      position: fixed;
      z-index: 99;
      top: 0;/*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
  }

  /*中身*/
  #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;/*最前面に*/
      width: 90%;/*右側に隙間を作る*/
      max-width: 330px;/*最大幅*/
      height: 100%;
      background: #fcfaf2;/*背景色*/
      transition: .3s ease-in-out;/*滑らかに表示*/
      -webkit-transform: translateX(300%);
      transform: translateX(300%);/*左に隠しておく*/
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
      display: block;/*カバーを表示*/
      opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);/*中身を表示*/
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }

  .SP_menu {
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    padding: 0;
    margin: 80px 0 0 0;

  }

  .SP_menu li {
    margin-top: 30px;
  }

  .SP_menu a {
    text-decoration: none;
    font-family: serif;
    color: #373C38;
  }

  .SP_menu a:hover {
    background-color: grey;
    opacity: 60%;
  }


  #first_view {
    position:  relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px;
    height: 100vh;
    padding-top:50px;
  }

  .background_first_view {
    text-align: center;
    min-width: 960px;
    overflow: hidden;
    text-align: center;
  }

  .background_first_view>.background_img {
    position: absolute;
    height: 100vh;
    min-height: 420px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
  }

  .background_first_view>.big_logo {
    position: absolute;
    height: 100vh;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
    width: 112px;
    height: 162px;
    padding-top: 50px;
    top: 100px;
    margin: 0 auto;
  }

  .background_first_view > .vertical_text {
    width: 100%;
    height: 100vh;
        position: absolute;
        display: flex;
        list-style-type: none;
        padding: 0;
        flex-direction: row-reverse;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        justify-content: center;
        top: 180px;
    }

  .vertical_text > li {
    width: 40px;
  }
  .vertical {
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-family: serif;
      font-weight: 500;
  }

  .vertical_center_li {
    width: 70px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding:0;
  }

  .vertical_center {
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-family: serif;
      font-size: 22px;
      font-weight: 500;
      margin: 0 auto;
      padding: 0;
  }

  .vertical_last {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: serif;
    font-weight: 500;
  }

  #features {
    display: none;
  }

  #SP_features {
    position:  relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 600px;
    min-height: 600px;
    text-align: center;
    padding-top: 50px;
    background-color: #fcfaf2;
    z-index: 5;
  }

  #SP_features>h1 {
    width: 100%;
    padding: 0;
    margin: 0 5%;
    padding-top: 20px;
    font-family:  serif;
    font-style: normal;
    font-weight: normal;
    color: #373C38;
    font-size: 18px;
    text-align: left;
  }


  #SP_features > .vertical_feature {
        position: absolute;
        display: flex;
        list-style-type: none;
        padding: 0;
        flex-direction: row-reverse;
        margin: 0 auto;
        padding: 0 ;
        text-align: center;
        width: 100%;
        justify-content: center;
        top: 14em;
    }

  .vertical_feature > li {
    width: 40px;
  }

  .vertical_feature p {
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-family: serif;
      font-weight: 500;
  }

  #services {
    position:  relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 320vh;
    min-height: 1780px;
    max-height: 2600px;
    text-align: center;
    padding-top:50px;
    background-color: #FFFFFB;
  }

  .service {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;

  }

  #services>h1 {
    width: 40%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:  serif;
    font-style: normal;
    font-weight: normal;
    color: #373C38;
    font-size: 18px;
    text-align: center;
  }

  .service>li {
    height: 100vh;
    min-height: 580px;
  }

  .service>li>h2 {
    width: 40%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family:  serif;
    font-style: normal;
    font-weight: normal;
    color: #373C38;
    font-size: 17px;
    text-align: left;
  }

  .service>li>img {
    width: 70%;
    margin: auto 0;
    margin-bottom: 20px;
    position: relative;
    top: -5px;
  }

  .service>li>p {
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 40px;
    font-family:  serif;
    font-style: normal;
    font-weight: normal;
    color: #373C38;
    font-size: 12px;
    text-align: left;
    line-height: 170%;
  }

  .service>li>p>a {
    width: 100%;
    font-family:  serif;
    font-style: normal;
    font-weight: normal;
    color: #373C38;
    font-size: 12px;
    text-align: right;
    line-height: 170%;
    float: right;
  }


  #PC_services {
    display: none;
  }

  @media screen and (orientation: landscape) {
   /* 横向きの場合のスタイル */
   #services {
     position:  relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 320vh;
     min-height: 2450px;
     max-height: 2600px;
     text-align: center;
     padding-top:50px;
     background-color: #FFFFFB;
   }

   .service {
     list-style-type: none;
     width: 100%;
     display: flex;
     flex-direction: column;
     padding-left: 0;

   }

   #services>h1 {
     width: 40%;
     margin: 0 auto;
     margin-top: 40px;
     margin-bottom: 40px;
     font-family:  serif;
     font-style: normal;
     font-weight: normal;
     color: #373C38;
     font-size: 18px;
     text-align: center;
   }

   .service>li {
     height: 100vh;
     min-height: 750px;
   }

   .service>li>h2 {
     width: 40%;
     margin-left: 10%;
     margin-top: 20px;
     margin-bottom: 40px;
     font-family:  serif;
     font-style: normal;
     font-weight: normal;
     color: #373C38;
     font-size: 17px;
     text-align: left;
   }

   .service>li>img {
     width: 70%;
     max-width: 300px;
     margin: auto 0;
     margin-bottom: 20px;
     position: relative;
     top: -5px;
   }

   .service>li>p {
     width: 60%;
     margin: 0 auto;
     margin-top: 10%;
     margin-bottom: 40px;
     font-family:  serif;
     font-style: normal;
     font-weight: normal;
     color: #373C38;
     font-size: 12px;
     text-align: left;
     line-height: 170%;
   }

   .service>li>p>a {
     width: 100%;
     font-family:  serif;
     font-style: normal;
     font-weight: normal;
     color: #373C38;
     font-size: 12px;
     text-align: right;
     line-height: 170%;
     float: right;
   }


   #PC_services {
     display: none;
   }

   #members {
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     right: auto;
     height: 190vh;
     min-height: 1300px;
     padding-top:50px;
   }

   #members>h1 {
     width: 40%;
     margin: 0 auto;
     margin-top: 40px;
     margin-bottom: 20px;
     font-family:  serif;
     font-style: normal;
     font-weight: normal;
     color: #373C38;
     font-size: 18px;
     text-align: center;
   }

   .member {
     display: flex;
     list-style-type: none;
     height: 150vh;
     min-height: 1100px;
     flex-direction: column;
     text-align: center;
     padding-left: 0;
     width: 60%;
     margin: 0 20%;
   }

   .member>li>img {
     border-radius: 50%;
     background-position: center ;
     background-size:cover;
     width: 100px;
     margin-top: 30px;
   }

   .member>li {
     height: 50vh;
     min-height: 325px;
     margin-bottom: 30px;
   }

   .member>li>h2 {
     font-family: serif;
     font-weight: normal;
     font-size: 16px;
   }

   .member>li>h3 {
     font-family: serif;
     font-size: 12px;
     font-weight: normal;
   }

   .member>li>p {
     margin: 10px 0;
     font-size: 13px;
     font-family: serif;
     line-height: 170%;
     text-align: left;
     width: 100%
   }

}


  #members {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    right: auto;
    height: 190vh;
    padding-top:50px;
  }

  #members>h1 {
    width: 40%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family:  serif;
    font-style: normal;
    font-weight: normal;
    color: #373C38;
    font-size: 18px;
    text-align: center;
  }

  .member {
    display: flex;
    list-style-type: none;
    height: 150vh;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    width: 60%;
    margin: 0 20%;
  }

  .member>li>img {
    border-radius: 50%;
    background-position: center ;
    background-size:cover;
    width: 100px;
    margin-top: 30px;
  }

  .member>li {
    height: 50vh;
    margin-bottom: 30px;
  }

  .member>li>h2 {
    font-family: serif;
    font-weight: normal;
    font-size: 16px;
  }

  .member>li>h3 {
    font-family: serif;
    font-size: 11px;
    font-weight: normal;
  }

  .member>li>p {
    margin: 10px 0;
    font-size: 13px;
    font-family: serif;
    line-height: 170%;
    text-align: left;
    width: 100%
  }

  footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #373C38;
    text-align: center;
  }

  footer > h3 {
    font-size: 12px;
    color: #fcfaf2;
    font-family: serif;
  }

  .contact_list {
    display: none;
  }

  .contact_list_sp {
    font-size: 10px;
    font-family: serif;
  }

  .contact_list_sp a {
    color: #fcfaf2;
    font-family: serif;
    font-size: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    background-
  }
  .contact_list_sp > p {
    color: #fcfaf2;
    font-family: serif;
    font-size: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  @media screen and (max-width:414px) {

    #services {
      position:  relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 1580px;
      text-align: center;
      padding-top:50px;
      background-color: #FFFFFB;
    }

    .service {
      list-style-type: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 0;
    }

    #services>h1 {
      width: 40%;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 40px;
      font-family:  serif;
      font-style: normal;
      font-weight: normal;
      color: #373C38;
      font-size: 18px;
      text-align: center;
    }

    .service>li {
      height: 100vh;
      min-height: 580px;
      margin-bottom: 40px;
    }

    .service>li>h2 {
      width: 100%;
      margin-left: 10%;
      margin-top: 20px;
      margin-bottom: 40px;
      font-family:  serif;
      font-style: normal;
      font-weight: normal;
      color: #373C38;
      font-size: 17px;
      text-align: left;
    }

    .service>li>img {
      width: 70%;
      margin: auto 0;
      margin-bottom: 20px;
      position: relative;
      top: -5px;
    }

    .service>li>p {
      width: 60%;
      margin: 0 auto;
      margin-top: 10%;
      margin-bottom: 40px;
      font-family:  serif;
      font-style: normal;
      font-weight: normal;
      color: #373C38;
      font-size: 12px;
      text-align: left;
      line-height: 170%;
    }

    .service>li>p>a {
      width: 100%;
      font-family:  serif;
      font-style: normal;
      font-weight: normal;
      color: #373C38;
      font-size: 12px;
      text-align: right;
      line-height: 170%;
      float: right;
    }


    #PC_services {
      display: none;
    }


    #members {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      right: auto;
      height: 1600px;
    }

    #members>h1 {
      width: 40%;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 20px;
      font-family:  serif;
      font-style: normal;
      font-weight: normal;
      color: #373C38;
      font-size: 18px;
      text-align: center;
    }

    .member {
      display: flex;
      list-style-type: none;
      height: 1350px;
      flex-direction: column;
      text-align: center;
      padding-left: 0;
      width: 80%;
      margin: 0 10%;
    }

    .member>li>img {
      border-radius: 50%;
      background-position: center ;
      background-size:cover;
      width: 100px;
      margin-top: 30px;
    }

    .member>li {
      height: 450px;
      margin-bottom: 30px;
    }

    .member>li>h2 {
      font-family: serif;
      font-weight: normal;
      font-size: 16px;
    }

    .member>li>h3 {
      font-family: serif;
      font-size: 12px;
      font-weight: normal;
    }

    .member>li>p {
      margin: 10px 0;
      font-size: 13px;
      font-family: serif;
      line-height: 170%;
      text-align: left;
      width: 100%
    }
    }
  }


/* for PC */
@media screen and (min-width: 768px) {

  #main {
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100vh;
  background-color: #fcfaf2;
  background: #fcfaf2;
  overflow: hidden;
}


/* sns_introduction */


#sns_introduction {
  position: fixed;
  bottom: 20px;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);

}

#sns_introduction img {
  width: 15px;
}

.accordion-menu {
width: 100%;
max-width: 350px;
margin: 60px auto 20px;
background-color: rgba(0, 0, 0, 0);
border-radius: 4px;
}

.accordion-menu, .accordion-menu ul{
  list-style-type: none;
  padding-left: 0;
}

.accordion-menu li.open .dropdownlink {
color: #373C38;
opacity: 50%;
}

.fa-chevron-down {
  transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
border-bottom: 0;
}
.dropdownlink {
cursor: pointer;
display: block;
padding: 15px;
font-size: 18px;
border-bottom: 1px solid #ccc;
color: #212121;
position: relative;
transition: all 1.0s ease-out;

i {
  position: absolute;
  top: 17px;
  left: 16px;
}
.fa-chevron-down {
  right: 12px;
  left: auto;
}
}

.submenuItems {
display: none;
background-color: rgba(0, 0, 0, 0);
opacity: 60%;
}


.submenuItems a {
  display: block;
  color: #727272;
  padding: 12px 12px 12px 20px;
  transition: all 0.4s ease-out;
  color: #373C38;
  text-decoration: none;
  font-family: serif;
}

.submenuItems a:hover {
  background-color: #373C38;
  opacity: 60%;
  color: #FFFFFB;
}

/* end of sns_introduction */

#SP_header {
  display: none;
}


#drawer-navigation{
  display:none;
}

/*ヘッダーまわりはご自由に*/
#PC_header {
  padding:10px;
  background-color: #373C38;
  height: 70px;
  vertical-align: middle;
  z-index: 400;
  position: fixed;
  width: 100%;
}

#PC_header>.fixed_header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
}

#PC_header ul {
  margin-right: 10px;
}

#PC_header li a {
  text-decoration: none;
}

#PC_header li span {
  text-decoration: none;
	padding: 15px 15px;
	border-radius: 120px;
  transition: color 1.0s, text-decoration 1.0s;
  font-size: 17px;
  font-weight: bolder;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #fcfaf2;
  opacity: 80%;
}

#PC_header li span:hover {
	text-decoration-color: transparent;
  color: #373C38;
}

#PC_header .text_about::before {
  position: absolute;
  top: 0px;
  right: 390px;
  content:"あんせなとは";
  text-decoration: none;
  text-align: center;
	padding: 15px 15px;
	border-radius: 120px;
  font-size: 15px;
  font-family:serif;
  font-weight: lighter;
  transition: color 1.0s, text-decoration 1.0s;
  color: #373C38;
  opacity: 0%;
}

#PC_header .text_about:hover::before {
  content:"あんせなとは";
  text-decoration-color: transparent;
  color: #fcfaf2;
  display: block;
  opacity: 100%;
}

#PC_header .text_services::before {
  position: absolute;
  top: 0px;
  right: 290px;
  content:"事業一覧";
  text-decoration: none;
  text-align: center;
	padding: 15px 15px;
	border-radius: 120px;
  font-size: 15px;
  font-family: serif;
  font-weight: lighter;
  transition: color 1.0s, text-decoration 1.0s;
  color: #373C38;
  opacity: 0%;
}

#PC_header .text_services:hover::before {
  content:"事業一覧";
  text-decoration-color: transparent;
  color: #fcfaf2;
  display: block;
  opacity: 100%;
}

#PC_header .text_members:hover::before {
  content:"メンバー";
  text-decoration-color: transparent;
  color: #fcfaf2;
  display: block;
  opacity: 100%;
}

#PC_header .text_members::before {
  position: absolute;
  top: 0px;
  right: 150px;
  content:"メンバー";
  text-decoration: none;
  text-align: center;
	padding: 15px 15px;
	border-radius: 120px;
  font-size: 15px;
  font-family:serif;
  font-weight: lighter;
  transition: color 1.0s, text-decoration 1.0s;
  color: #373C38;
  opacity: 0%;
}

#PC_header .text_contact:hover::before {
  content:"お問い合わせ";
  text-decoration-color: transparent;
  color: #fcfaf2;
  display: block;
  opacity: 100%;
}

#PC_header .text_contact::before {
  position: absolute;
  top: 0px;
  right: 20px;
  content:"お問い合わせ";
  text-decoration: none;
  text-align: center;
	padding: 15px 15px;
	border-radius: 120px;
  font-size: 15px;
  font-family:serif;
  font-weight: lighter;  transition: color 1.0s, text-decoration 1.0s;
  color: #373C38;
  opacity: 0%;
}



#logo_top{
    position: fixed;
}

#PC_header>.fixed_header>nav>ul>li {
  z-index: 400;
}

#PC_header>.fixed_header>nav>ul>li:nth-child(even){
  margin: 0 20px;
}

#PC_header>.fixed_header>nav>ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
}

.logo {
  position: relative;
  top: -5px;
}

#first_view {
  position:  relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.background_first_view {
  text-align: center;
  min-width: 960px;
  overflow: hidden;
  text-align: center;
}

.background_first_view>img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
 -moz-transform: translate(-50%,-50%);
 transform: translate(-50%,-50%);

}

.background_first_view>.big_logo {
  position: absolute;
  width: 156px;
  height: 200px;
  padding-top: 50px;
  top: 4.5em;
  margin: 0 auto;
  margin-top: 70px;
}

.background_first_view > .vertical_text {
      position: absolute;
      display: flex;
      list-style-type: none;
      padding: 0;
      padding-top:50px;
      flex-direction: row-reverse;
      margin: 70px auto 0 auto;
      text-align: center;
      width: 100%;
      justify-content: center;
      top: 8.5em;
  }

.vertical_text > li {
  width: 40px;
}
.vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: serif;
    font-weight: 500;
}

.vertical_center_li {
  width: 70px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding:0;
}

.vertical_center {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: serif;
    font-size: 22px;
    font-weight: 500;
    margin: 0 auto;
    padding: 0;

}

.vertical_last {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: serif;
  font-weight: 500;
}

#SP_features {
  display: none;
}

#features {
  position:  relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 100vh;
  min-height: 650px;
  text-align: center;
  padding-top: 50px;
  background-color: #fcfaf2;
  z-index: 5;
}

#features>h1 {
  width: 100%;
  padding: 0 100px;
  padding-top: 30px;
  font-family:  serif;
  font-style: normal;
  font-weight: normal;
  color: #373C38;
  font-size: 25px;
  text-align: center;
}


#features > .vertical_feature {
      position: absolute;
      display: flex;
      list-style-type: none;
      padding: 0;
      flex-direction: row-reverse;
      margin: 0 auto;
      padding: 0 150px;
      text-align: center;
      width: 100%;
      justify-content: center;
      top: 14em;
  }

.vertical_feature > li {
  width: 40px;
}

.vertical_feature p {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: serif;
    font-weight: 500;
}
#services{
  display: none;
}

#PC_services {
  position:  relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 1800px;
  max-height: 2150px;
  text-align: center;
  margin-bottom: 80px;
  padding-top: 50px;
  padding-bottom:50px;
  background-color: #FFFFFB;
}

.service {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

#PC_services>h1 {
  width: 40%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 80px;
  font-family:  serif;
  font-style: normal;
  font-weight: normal;
  color: #373C38;
  text-align: center;
}

.service>li {
  max-height: 680px;
  min-height: 680px;
}

.service1, .service2, .service3 {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0;
}
.service1>li>p, .service2>li>p, .service3>li>p {
  margin-top: 100px;
  width: 100%;
  text-align: left;
  font-size: 13px;
  font-family: serif;
  line-height: 180%;
}

.service1>li, .service2>li, .service3>li {
  width: 50%;
}

.service1, .service3 {
  flex-direction: row-reverse;
}

.service1>li>h2 {
  width: 100%;
  font-family:  serif;
  font-style: normal;
  font-weight: normal;
  color: #373C38;
  font-size: 19px;
  text-align: left;
}

.service1>li:nth-child(odd) {
  padding-right: 100px;
}

.service1>li>img {
  width: auto;
  max-width: 100%;
  margin: auto;
  position: relative;
  margin-left: 0;
  float: left;
}


.service2>li>h2 {
  width: 100%;
  font-size: 19px;
  font-family:  serif;
  font-style: normal;
  font-weight: normal;
  color: #373C38;
  font-size: 19px;
  text-align: left;
}

.service2>li:nth-child(odd) {
  padding-left: 100px;
  padding-right:100px;
}

.service2>li>img {
  width: auto;
  max-width: 100%;
  margin: auto;
  position: relative;
  margin-right: 0;
  float: right;
}

.service3>li>h2 {
  width: 100%;
  font-family:  serif;
  font-style: normal;
  font-weight: normal;
  color: #373C38;
  font-size: 19px;
  text-align: left;
}


.service3>li>img {
  width: auto;
  max-width: 100%;
  margin: auto;
  position: relative;
  margin-left: 0;
  float: left;
}

.service3>li:nth-child(odd), .service1>li:nth-child(odd){
  padding-right: 100px;
  padding-left: 100px;
}


#PC_services a {
  width: 100px;
  font-family:  'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #fcfaf2;
  font-size: 13px;
  text-align: center;
  line-height: 170%;
  float: right;
  text-decoration: none;
  padding: 7px 15px;
  background-color: #373C38;
  opacity: 50%;
  border-radius: 40px;
  transition: opacity 1.0s;
}

#PC_services a:hover {
  opacity: 30%;
  text-decoration-color: transparent;
}


#members {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  right: auto;
  height: auto;
  max-height: 800px;
  min-height: 670px;
  padding-top: 50px;
  margin-bottom: 100px;

}

#members>h1 {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 100px;
  font-family:  serif;
  font-style: normal;
  font-weight: normal;
  color: #373C38;
  text-align: center;
}

.member {
  display: flex;
  list-style-type: none;
  height: 80vh;
  min-height: 650px;
  flex-direction: row;
  text-align: center;
  padding-left: 0;
  margin: 0 10%;
  margin-top: 40px;
  justify-content: center;
}

.member>li>img {
  border-radius: 50%;
  background-position: center ;
  background-size:cover;
  width: 150px;
}

.member>li {
  height: 80vh;
  width: 100%;
  min-height: 660px;
}

.member>li>h2 {
  font-family: serif;
  font-weight: normal;

}

.member>li>h3 {
  font-family: serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
}

.member>li>p {
  margin: 0 10%;
  font-size: 13px;
  font-family: serif;
  line-height: 170%;
  text-align: left;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #373C38;
  text-align: center;
  vertical-align: middle;
}

footer > h3 {
  margin-top: 25px;
  font-size: 12px;
  color: #fcfaf2;
  font-family: serif;
}

.contact_list {
  display: none;
}

.contact_list_sp {
  margin: auto;
  vertical-align: middle;
  font-family: serif;
}

.contact_list_sp a {
  color: #fcfaf2;
  font-family: serif;
  font-size: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  background-
}
.contact_list_sp > p {
  color: #fcfaf2;
  font-family: serif;
  font-size: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
}
